spring:
  profiles:
    include: local   # loads application-local.yml if present (Gmail OAuth, etc.)
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.biasharahub: DEBUG
    org.hibernate.SQL: DEBUG
